<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cs" connectionString="Data Source=DESKTOP-HH5PFSL\SQLEXPRESS;Initial Catalog=Cinematography;Integrated Security=True"/>
		<!--<add name= "cn" connectionString="Data Source=DESKTOP-0SVDHT0\SQLEXPRESS;
			Initial Catalog=Cinematography;Integrated Security=True"/>-->
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="ParentTableName" value="Directors"/>
		<add key="ChildTableName" value="Movies"/>
		<add key="ChildColumnNames" value="Title,DirectorID,LaunchDate,RunningTime"/>
		<add key="ParentPrimaryKey" value="DirectorID"/>
		<add key="ChildPrimaryKeys" value="MovieID"/>
		<add key="ChildForeignKey" value="DirectorID"/>

		<!--<add key="ParentTableName" value="Series"/>
		<add key="ChildTableName" value="Seasons"/>
		<add key="ChildColumnNames" value="SeriesID,SeasonNumber,DirectorID,LaunchDate"/>
		<add key="ParentPrimaryKey" value="SeriesID"/>
		<add key="ChildPrimaryKeys" value="SeasonID"/>
		<add key="ChildForeignKey" value="SeriesID"/>-->
		
		<!--<add key="ParentTableName" value="Actors"/>
		<add key="ChildTableName" value="MovieRoles"/>
		<add key="ChildColumnNames" value="MovieID,ActorID,CharacterName,Role,FamousLine"/>
		<add key="ParentPrimaryKey" value="ActorID"/>
		<add key="ChildPrimaryKeys" value="ActorID,MovieID"/>
		<add key="ChildForeignKey" value="ActorID"/>-->
	</appSettings>
</configuration>