[submodule "Semestrul 4/MPP/teme-lab-stefan-alex02"]
	path = Semestrul 4/MPP/teme-lab-stefan-alex02
	url = https://github.com/mpp-at-cs-ubbcluj-ro/teme-lab-stefan-alex02.git
[submodule "Semestrul 4/AI/lab01-simple-problems-stefan-alex02"]
	path = Semestrul 4/AI/lab01-simple-problems-stefan-alex02
	url = https://github.com/LauraDiosan-CS/lab01-simple-problems-stefan-alex02.git
[submodule "Semestrul 4/AI/lab02-data-processing-stefan-alex02"]
	path = Semestrul 4/AI/lab02-data-processing-stefan-alex02
	url = https://github.com/LauraDiosan-CS/lab02-data-processing-stefan-alex02.git
[submodule "Semestrul 4/MPP/mpp-proiect-java-stefan-alex02"]
	path = Semestrul 4/MPP/mpp-proiect-java-stefan-alex02
	url = https://github.com/mpp-at-cs-ubbcluj-ro/mpp-proiect-java-stefan-alex02.git
[submodule "Semestrul 4/MPP/mpp-proiect-csharp-stefan-alex02"]
	path = Semestrul 4/MPP/mpp-proiect-csharp-stefan-alex02
	url = https://github.com/mpp-at-cs-ubbcluj-ro/mpp-proiect-csharp-stefan-alex02.git
[submodule "Semestrul 4/AI/lab03-ocr-stefan-alex02"]
	path = Semestrul 4/AI/lab03-ocr-stefan-alex02
	url = https://github.com/LauraDiosan-CS/lab03-ocr-stefan-alex02.git
