

*.hprof
Semestrul 4/AI/cloudmonet-local/monet_jpg/
Semestrul 4/AI/cloudmonet-local/photo_jpg/
Semestrul 4/AI/cloudmonet-local/monet_tfrec/
Semestrul 4/AI/cloudmonet-local/photo_tfrec/
Semestrul 4/AI/cloudmonet-local/archive/
