* {
    padding: 0;
    margin: 0;

    /*Face sa apara si scriptul JS*/
    /*display: flex;*/
}

header {
    height: 150px;
    text-align: center;
    background-color: khaki;
}

menu {
    float: left;
    height: 200px;
    width: 150px;
    list-style-type: none;
    background-color: burlywood;
}

menu li {
    text-align: center;
    border: 2px solid black;
}

div {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
}

footer {
    height: 100px;
    background-color: beige;
    border: 1px solid black;
}