* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 30vh;
    text-align: center;
    background-color: khaki;
}

#parent {
    display: flex;
    flex: 1;
}

menu {
    list-style-type: none;
    border: 2px solid black;
    background-color: burlywood;
}

menu li {
    width: 15vw;
    padding: 5px 10px;
    border: 2px solid black;
    text-align: center;
}

#parent div {
    width: 100vw;
    padding: 15px 25px;
    overflow-y: auto;
    background-color: antiquewhite;
}

footer {
    height: 8vh;
    border: 0.25vw solid black;
    text-align: center;
    margin-top: auto;
    background-color: beige;
}
