.parent {
    border: 2px solid black;
    width: 400px;
    display: flex;
}

.left, .right {
    width: 200px;
    margin: auto;
}

.left {
    font-family: "Cambria Math", serif;
    text-align: center;
}

.right img {
    display:block;
    margin:auto;
    max-width: 200px;
}