ul {
    list-style: none;
    padding: 10px;
    font-size: 25px;
}

li {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    font-family: Calibri, serif;
}

input {
    border: none;
    outline: none;
    font-family: "Cascadia Mono", Courier, serif;
    font-size: 27px;
    background-image: url("box_light.png");
}

input[type=text]:focus {
    background-image: url("box.png");
}

#nume, #prenume {
    width: 317px;
}

#cnp {
    width: 205px;
}
